/productivity_tools/title.txt
/home/alt/scripts/work_tools
/productivity_tools/simple_sketchpad.html
/productivity_tools/totem.sh
/productivity_tools/web-scraper/
/conditional_sql_injector.py
/keepassxc_paybar.py
/symlink_looper.py
/webtime.py
